<!DOCTYPE html>
<html>
  <head>
    <base href="/"></base>
    <title>Codebreaker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <h2 class="welcome">Welcome to Codebreaker</h2>
    <form method="post" action="/post_name" id="name-form">
      <label for="player-name">Enter your name</label>
      <input name="name" type="text" id="player-name" value="<%= get_name_value%>">
      <div class="error-msg" id="name-validate">You have to specify your name first</div>
      <button type="submit" class="start-btn">START GAME</button>
    </form>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>