<!DOCTYPE html>
<html>
  <head>
    <base href="/"></base>
    <title>Codebreaker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="logo">📈 STATISTICS 📈</div>

    <a href="/game_continue?stats=back">Back</a>

    <div class="stats-container">
      <div class="stats-item header">
        <div>Player</div>
        <div>Status</div>
        <div>Attempts</div>
        <div>Date</div>
      </div>
      <% @stats.each do |elem| %>
        <div class="stats-item">
          <div><%= "#{elem[:name]}" %></div>
          <div><%= "#{elem[:status]}" %></div>
          <div><%= "#{elem[:turns]}" %></div>
          <div><%= "#{elem[:date]}" %></div>
        </div>
      <% end %>
    </div>
  </body>
</html>